127.0.0.1 localhost
::1 localhost
{% for host in groups["targets"] %}
{{ hostvars[host].ansible_host }} {{ hostvars[host].inventory_hostname }}
{% endfor %}
{% for host in groups["admin"] %}
{{ hostvars[host].ansible_host }} {{ hostvars[host].inventory_hostname }}
{% endfor %}
